<%= form_with scope: :note, url: notes_path, local: true do |form| %>
	<p>
		<%= form.label :text %>
		<%= form.text_area :text %>
	</p>

	<p>
		<%= form.label :country %>
		<%= form.text_field :country %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>